[alias]
	st = status -s
	co = checkout
        cb = checkout -b
        ca = commit -am
        cm = commit -m
        b = branch
        bs = for-each-ref --sort=-committerdate refs/heads/
        df = diff --color --color-words --abbrev
        l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
        up = pull
        p = push origin
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        new = diff --cached
        abort = reset --hard HEAD
        undo = reset HEAD~1
        recommit = commit --amend
        rem = remote -v 
        conflicts = diff --name-only --diff-filter=U
        unstage = reset HEAD --
        here = status .
        unpushed = log --branches --not --remotes
[user]
	name = Pablo Deeleman
	email = deeleman@gmail.com
[color]
        ui = true
        branch = auto
        diff = auto
        status = auto

[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red
        new = cyan

[color "status"]
        added = yellow
        changed = green
        untracked = cyan
